.home-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-dropdown {
  margin-bottom: 20px;
}

.sort-dropdown select {
  padding: 10px 20px;
  background-color: #126383;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort-dropdown select:hover {
  background-color: #5a2756;
}

.publication-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.publication-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 100%; 
  max-width: none; 
  text-align: left;
  display: flex;
  flex-direction: column;
}

.publication-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  color: #fff;
}

.publication-card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.publication-dates p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.publication-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}

.publication-author {
  text-align: left;
}

.publication-popularity {
  text-align: right;
}

.like-icon {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.like-icon.liked {
  color: #a500b4;
}

.like-icon:hover {
  color: #a500b4;
}

.publication-card.deleted {
  color: #5a5464;
  background: #5d278a54;
}

.search-bar-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
}